[submodule "ArduiPi_OLED"]
	path = ArduiPi_OLED
	url = git@github.com:MZandtheRaspberryPi/ArduiPi_OLED.git
[submodule "eigen"]
	path = eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "imu_websockets"]
	path = imu_websockets
	url = git@github.com:MZandtheRaspberryPi/imu_websockets.git
